{% extends "base.html" %}

{% block buttons %}
<ul class="nav">
    <li><a href="{{ url_for('index') }}" class="btn btn-outline-warning text-warning me-md-2" height="32">Biotech-h</a></li>
    <li><a href="{{ url_for('companies.get_all') }}" class="btn btn-light me-md-2" height="32">Компании</a></li>
    <li><a href="{{ url_for('jobs.get_all') }}" class="btn btn-outline-secondary text-white" height="32">Вакансии</a></li>
</ul>
{% endblock %}

{% block content %}

        {% for company in companies %}
        <header class="col-6 p-3 float-md-end">
            <div class="card w-75">
                <div class="card-body">
                <h5 class="card-title">{{ company.name }}</h5>
                <p class="card-text">Регион: {{ company.region }}</p>
                <p class="card-text">{{ company.description }}</p>
                <a href="#" class="btn btn-outline-warning">Вакансии компании</a>
                </div>
            </div>
        </div>
        </header>


        {% endfor %}

{% endblock %}




