{% extends "base.html" %}

{% block buttons %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-warning">Biotech-h</a></li>
    <li><a href="{{ url_for('companies.get_all') }}" class="btn btn-light me-md-2" height="32">Компании</a></li>
    <li><a href="{{ url_for('jobs.get_all') }}" class="btn btn-outline-secondary text-white" height="32">Вакансии</a></li>
</ul>
{% endblock %}

{% block content %}

    <h1>{{ page_title }}</h1>
        {% for company in companies %}
        <h2>{{ company.name }}</h2>
        {% endfor %}

{% endblock %}
