<!doctype html>
<html lang="ru" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text-warning">Biotech-h</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a href="{{ url_for('companies.get_all') }}" class="btn btn-outline-secondary text-white me-md-2">Компании</a>
        <a href="{{ url_for('jobs.get_all') }}" class="btn btn-outline-secondary text-white">Вакансии</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Найди работу мечты</h1>
    <p class="lead">Вакансии из мира биотеха в одном месте</p>
    <p class="lead">
      <a href="{{ url_for('jobs.get_all') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Хочу работу</a>
    </p>
  </main>

  <footer class="mt-auto text-warning">
    <p>&copy; 2022 Biotech-h project by <a class="text-white">Irina Safenkova</a><a class="text-decoration-none text-white">, </a><a class="text-white">Pavel Khramov</a></p>
  </footer>
</div>
  </body>
</html>
