{% extends "base.html" %}

{% block buttons %}
<ul class="nav">
    <li><a href="{{ url_for('index') }}" class="btn btn-outline-warning text-warning me-md-2">Biotech-h</a></li>
    <li><a href="{{ url_for('companies.get_all') }}" class="btn btn-outline-secondary text-white me-md-2" height="32">Компании</a></li>
    <li><a href="{{ url_for('jobs.get_all') }}" class="btn btn-light" height="32">Вакансии</a></li>
</ul>
{% endblock %}

{% block content %}

    <body>
        <h1>{{ page_title }}</h1>
        {% for job in jobs %}
        <h2>{{ job.name }}</h2>
        {% endfor %}
    </body>


{% endblock %}
